*{
    margin: 0;
    box-sizing: border-box;
    color: white;

}
.homepage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: 0.5s;
    font-family: serif;
}